<!-- Add: Room Service -->
<div
    class="offcanvas offcanvas-end"
    tabindex="-1"
    id="extend-booking"
    aria-labelledby="extend-booking"
>
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">Extend Room Booking</h5>
        <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
        ></button>
    </div>
    <div class="offcanvas-body">
        <form action ="{% url 'dashboard:frontdesk_update_checkout_date' 0 %}" method ="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group mb-3">


                {{ form.as_p}}

            </div>


            <div class="d-flex">
                <button type="button" class="btn w-100 me-1 py-2 btn-primary">
                    Clear
                </button>
                <button type="submit" class="btn w-100 ms-1 py-2 btn-dark">
                    Save
                </button>
            </div>
        </form>
    </div>
</div>
