<!-- Add: Room Service -->
<div
    class="offcanvas offcanvas-end"
    tabindex="-1"
    id="receive-stock"
    aria-labelledby="receive-stock"
>
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">Receive Stock</h5>
        <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
        ></button>
    </div>
    <div class="offcanvas-body">
        <style>
            .large-checkbox {
                transform: scale(1.5);
                width: 20px;
                height: 20px;
                margin: 20px;
            }
        </style>
        <form action ="{% url 'dashboard:mark_as_received' 0 %}" method ="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group mb-3">


                {{ form.as_p}}

            </div>


            <div class="d-flex">
                <button type="button" class="btn w-100 me-1 py-2 btn-primary">
                    Clear
                </button>
                <button type="submit" class="btn w-100 ms-1 py-2 btn-dark">
                    Save
                </button>
            </div>
        </form>
    </div>
</div>
