{% load static %}

<!DOCTYPE html>
<html lang="en">


    <head>
        <meta charset="utf-8" />
        <title> {% block title %} {% endblock %}</title>
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
        <meta content name="description" />
        <meta content name="author" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel="stylesheet">
        <link href="{% static 'frontpage/pos/assets/css/vendor.min.css' %}" rel="stylesheet" />
        <link href="{% static 'frontpage/pos/assets/css/default/app.min.css' %}" rel="stylesheet" />

    </head>
    <body class="pace-top">

        <div id="loader" class="app-loader">
            <span class="spinner"></span>
        </div>

        {% block content %}

        {% endblock %}



        <div class="modal modal-pos fade" id="modalPos">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body p-0">
                        <a href="#" data-bs-dismiss="modal" class="btn-close position-absolute top-0 end-0 m-4"></a>
                        <div class="modal-pos-product">
                            <div class="modal-pos-product-img">
                                <div class="img" style="background-image: url('{% static "frontpage/pos/assets/img/pos/product-1.jpg" %}');"></div>

                            </div>
                            <div class="modal-pos-product-info">
                                <div class="fs-4 fw-bold">Grill Chicken Chop</div>
                                <div class="fs-6 text-body text-opacity-50 mb-2">
                                    chicken, egg, mushroom, salad
                                </div>
                                <div class="fs-3 fw-bolder mb-3">$10.99</div>
                                <div class="option-row">
                                    <div class="d-flex mb-3">
                                        <a href="#" class="btn btn-default d-flex align-items-center"><i class="fa fa-minus"></i></a>
                                        <input type="text" class="form-control w-30px fw-bold fs-5 px-0 mx-2 text-center border-0" name="qty" value="1">
                                        <a href="#" class="btn btn-default d-flex align-items-center"><i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                                <hr/>


                                <hr/>
                                <div class="row gx-3">
                                    <div class="col-4">
                                        <a href="#" class="btn btn-default fs-14px rounded-3 fw-bold mb-0 d-block py-3" data-bs-dismiss="modal">Cancel</a>
                                    </div>
                                    <div class="col-8">
                                        <button class="addToCart btn btn-info btn-lg py-3 " hx-get="{% url 'pos:add_to_cart' 0 %}" hx-target=".pos-sidebar" hx-swap="innerHTML">Add to Cart</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <script src="{% static 'frontpage/pos/assets/js/vendor.min.js' %}" ></script>
        <script src="{% static 'frontpage/pos/assets/js/app.min.js' %}"></script>


        <script src="{% static 'frontpage/pos/assets/js/demo/pos-customer-order.demo.js' %}"></script>
        <script src="{% static 'frontpage/pos/assets/js/iconify-icon.min.js' %}" ></script>
        <script src="{% static 'htmx.js' %}" defer></script>



        <script type="a26a6c9d40ec2d5695a99664-text/javascript">
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-Y3Q0VGQKY3');
        </script>




        <script>
            function UpdateModal(event, productId, productName, productDescription, productPrice, productImage) {
                event.preventDefault();

                // Update modal image
                const modalImg = document.querySelector('#modalPos .modal-pos-product-img .img');
                modalImg.style.backgroundImage = `url('${productImage}')`;

                // Update modal product name
                const modalTitle = document.querySelector('#modalPos .modal-pos-product-info .fs-4');
                modalTitle.textContent = productName;

                // Update modal description
                const modalDescription = document.querySelector('#modalPos .modal-pos-product-info .fs-6.text-body');
                modalDescription.textContent = productDescription;

                // Update modal price
                const modalPrice = document.querySelector('#modalPos .modal-pos-product-info .fs-3');
                modalPrice.textContent = `$${productPrice}`;

                // Update modal URL
                const addToCartButton = document.querySelector('#modalPos .gx-3 .col-8 button');
                const baseUrl = "{% url 'pos:add_to_cart' 0 %}";
                const newUrl = baseUrl.replace('/0/', `/${productId}/`);
                addToCartButton.setAttribute('hx-get', newUrl);

                // Ensure HTMX reinitializes or updates the button
                htmx.process(addToCartButton);
            }
        </script>

        <script>
            document.body.addEventListener('htmx:configRequest', function(event) {
                event.detail.headers['X-CSRFToken'] = "{{ csrf_token }}";
            });
        </script>

    </body>


</html>