{% extends 'dashboard_base.html' %}
{% load static %}
{% block title %} Hotel | Accountant {% endblock %}

{% block content %}
    <main class="container-fluid px-0">
    {% comment %} sidebar here {% endcomment %}
        {% if request.user.is_admin %}
            {% include '../partials/menubars/admin_sidebar.html' %}

        {% elif request.user.is_supervisor %}
            {% include '../partials/menubars/supervisor_sidebar.html' %}

        {% elif request.user.is_account_officer %}
            {% include '../partials/menubars/accounting_sidebar.html' %}

        {% elif request.user.is_pos_officer %}
            {% include '../partials/menubars/pos_sidebar.html' %}

        {% else %}
            {% include '../partials/menubars/frontdesk_sidebar.html' %}

        {% endif %}

    {% comment %} sidebar ends {% endcomment %}

        <div class="content">


   {% comment %} top header starts {% endcomment %}
            {% include '../partials/top_header.html' %}
   {% comment %} top header ends {% endcomment %}



   {% comment %} body content starts {% endcomment %}

            <div class="px-xl-5 px-lg-4 px-3 py-3 page-body mt-5">
	                      <!-- start: page body area -->
                {% include '../partials/_messages.html' %}


                {% if request.user.is_admin %}

                    <div class="row g-3 mb-3 mt-3">
                        <div class="col-12">
                            <h2>Overview</h2>
                        </div>

                        <div class="col-6 col-md-6 col-lg-4">
                            <div class="card">
                                <div class="card-header">
                                    <h6 class="card-title mb-0"> Workers</h6>
                                </div>
                                <div class="card-body">
                                    <h2>{{staff_count}}</h2>
                                    <span class="badge bg-primary"> </span>
                                    <span class="text-muted">Total Number of  workers</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-4">
                            <div class="card">
                                <div class="card-header">
                                    <h6 class="card-title mb-0">Customers</h6>
                                </div>
                                <div class="card-body">
                                    <h2> {{ customers }}</h2>
                                    <span class="badge bg-info"> </span>
                                    <span class="text-muted">Total Number of Customers </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-4">
                            <div class="card">
                                <div class="card-header">
                                    <h6 class="card-title mb-0"> Monthly Income </h6>
                                </div>
                                <div class="card-body">
                                    <h2>&#8358 {{ monthly_income}}</h2>
                                    <span class="badge bg-warning"> </span>
                                    <span class="text-muted">total income for this month </span>
                                </div>
                            </div>
                        </div>

                    </div>
                {% endif %}



                <div class="row g-3 mb-3 mt-4">
                    <div class="col-12">
                        <h2>Bookings</h2>
                    </div>

                    <div class=" col-6 col-md-6 col-lg-4">
                        <div class="card">
                            <div class="card-header">
                                <h6 class="card-title mb-0"> Booking</h6>
                            </div>
                            <div class="card-body">
                                <h2>{{ todays_bookings.count }}</h2>
                                <span class="badge bg-primary"> </span>
                                <span class="text-muted">Todays Bookings</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-6 col-lg-4">
                        <div class="card">
                            <div class="card-header">
                                <h6 class="card-title mb-0">Todays Income</h6>
                            </div>
                            <div class="card-body">
                                <h2>&#8358 {{ todays_bookings_payments }}</h2>
                                <span class="badge bg-info"> </span>
                                <span class="text-muted">Todays booking Income </span>
                            </div>
                        </div>
                    </div>
                    <div class=" col-6 col-md-6 col-lg-4">
                        <div class="card">
                            <div class="card-header">
                                <h6 class="card-title mb-0"> previous session Bookings</h6>
                            </div>
                            <div class="card-body">
                                <h2>{{last_session_bookings}}</h2>
                                <span class="badge bg-warning"> </span>
                                <span class="text-muted">bookings in previous user session </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-6 col-lg-4">
                        <div class="card">
                            <div class="card-header">
                                <h6 class="card-title mb-0"> previous session Income</h6>
                            </div>
                            <div class="card-body">
                                <h2>&#8358 {{ last_session_total_payments}}</h2>
                                <span class="badge bg-success"> </span>
                                <span class="text-muted">total income from previous session</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md-6 col-lg-4">
                        <div class="card">
                            <div class="card-header">
                                <h6 class="card-title mb-0">Active Session Bookings</h6>
                            </div>
                            <div class="card-body">
                                <h2>{{active_session_bookings}}</h2>
                                <span class="badge bg-primary"> </span>
                                <span class="text-muted">Number of bookings for the current active session</span>
                            </div>
                        </div>
                    </div>

                    <div class=" col-6 col-md-6 col-lg-4">
                        <div class="card">
                            <div class="card-header">

                                <h6 class="card-tit le mb-0">Active Booking Session Income</h6>
                            </div>
                            <div class="card-body">
                                <h2>&#8358 {{ active_session_total_payments }}</h2>
                                <span class="badge bg-info"> </span>
                                <span class="text-muted">Payments Receive for this active session </span>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="row g-3 mb-3 mt-5 ">
                    <div class="col-12">
                        <h2>Point Of Sales</h2>
                    </div>
                    <div class="col-6 col-md-6 col-lg-4">
                        <div class="card">
                            <div class="card-header">
                                <h6 class="card-title mb-0">Total Orders</h6>
                            </div>
                            <div class="card-body">
                                <h2>{{total_orders_today}}</h2>
                                <span class="badge bg-warning"> </span>
                                <span class="text-muted">total orders today</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-6 col-lg-4">
                        <div class="card">
                            <div class="card-header">
                                <h6 class="card-title mb-0">Total Income </h6>
                            </div>
                            <div class="card-body">
                                <h2> &#8358 {{total_pos_payments_today}}</h2>
                                <span class="badge bg-success"> </span>
                                <span class="text-muted">Total Income for today</span>
                            </div>
                        </div>
                    </div>
                

                </div>










                <div class="row g-3">

                    {% comment %} <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h6 class="card-title">Total Incomes</h6>
                            </div>
                            <div class="card-body">
                                <div id="reservations" style="height: 280px;"></div>
                            </div>
                        </div>
                    </div> {% endcomment %}



                    
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <h6 class="card-title">Departmental Last Active Session</h6>
                            </div>
                            <div class="card-body">
                                <table class="table dataTable align-middle table-hover table-body table-responsive" style="width: 100%;">
                                    <thead>
                                        <tr>
                                            <th>Department </th>
                                            <th>Last Session</th>
                                            <th>order</th>
                                            <th>Income</th>
                                            
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if department_data %}
                        {% for department in department_data %}

                        {% if department.department_name == "POS"  %}
                                        <tr>
                                            <td>
                                                {{ department.department_name }}
                                            </td>
                                            <td>Ended</td>
                                            <td> {{ total_orders_recent_session }} </td>
                                            <td> &#8358 {{ department.total_payments_recent_session }}</td>
                                           
                                     
                                        </tr>
                                        {% endif %}
                                       {% endfor %}
                                       {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                     
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <h6 class="card-title">Departmental current & Active Session</h6>
                            </div>
                            <div class="card-body">
                                <table class="table dataTable align-middle table-hover table-body table-responsive" style="width: 100%;">
                                    <thead>
                                        <tr>
                                            <th>Department </th>
                                            <th>Last Session</th>
                                            <th>order</th>
                                            <th>Income</th>
                                            
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if department_data %}
                        {% for department in department_data %}
                        {% if department.department_name == "POS"  %}
                                        <tr>
                                            <td>
                                                {{ department.department_name  }}
                                            </td>
                                            <td >Active</td>
                                            <td>  {{ department.total_orders_active_session }} </td>
                                            <td> &#8358 {{  department.total_payments_active_session }} </td>
                                           
                                     
                                        </tr>
                                        {% endif %}
                                       {% endfor %}
                                       {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
                   {% comment %} body content ends {% endcomment %}


        </div>
    </main>
{% endblock %}