asgiref==3.8.1
Django==5.1
django-ckeditor-5==0.2.13
django-countries==7.6.1
django-htmx==1.19.0
django-taggit==6.0.0
djhtml==3.0.6
environs==11.0.0
marshmallow==3.22.0
packaging==24.1
pillow==10.4.0
python-dotenv==1.0.1
shortuuid==1.0.13
sqlparse==0.5.1
typing_extensions==4.12.2
