{% extends 'pos_base.html' %}
{% load static %}
{% block title %} Hotel | POS - Customer Order System   {% endblock %}

{% block content %}

<div id="app" class="app app-content-full-height app-without-sidebar app-without-header">

    <div id="content" class="app-content p-0">

        <div class="pos pos-with-menu pos-with-sidebar" id="pos">

           
        {% comment %} }side bar here {% endcomment %}
        {% include '../partials/_menu_bar.html' %}
        {% comment %} side bar ends {% endcomment %}

            <div class="pos-content">
                <div class="pos-content-container h-100" id="product-list">
                  
                   
                </div>
            </div>


           {% comment %} cart side bar {% endcomment %}
           {% include '../partials/_cart_sidebar.html' %}
           {% comment %} cart side bar ends {% endcomment %}

          

        </div>

        <a href="#" class="pos-mobile-sidebar-toggler" data-toggle-class="pos-sidebar-mobile-toggled" data-target="#pos">
            <iconify-icon class="display-6" icon="solar:bag-smile-bold-duotone"></iconify-icon>
            <span class="badge">5</span>
        </a>

    </div>


    <a href="javascript:;" class="btn btn-icon btn-circle btn-theme btn-scroll-to-top" data-toggle="scroll-to-top"><i class="fa fa-angle-up"></i></a>

</div>
<script>
    document.addEventListener('htmx:configRequest', function(evt) {
        // Get all nav-link elements
        const links = document.querySelectorAll('.nav-link');
        
        // Remove 'active' class from all nav-link elements
        links.forEach(link => {
            link.classList.remove('active');
        });
        
        // Add 'active' class to the clicked element
        evt.detail.target.classList.add('active');
    });
</script>

{% endblock %}