{% extends 'dashboard_base.html' %}
{% load static %}
{% block title %}Hotel | Supervisor{% endblock %}

{% block content %}
    <main class="container-fluid px-0">
    {% comment %} sidebar here {% endcomment %}
        {% if request.user.is_admin %}
            {% include '../partials/menubars/admin_sidebar.html' %}

        {% elif request.user.is_supervisor %}
            {% include '../partials/menubars/supervisor_sidebar.html' %}

        {% elif request.user.is_account_officer %}
            {% include '../partials/menubars/accounting_sidebar.html' %}

        {% elif request.user.is_pos_officer %}
            {% include '../partials/menubars/pos_sidebar.html' %}

        {% else %}
            {% include '../partials/menubars/frontdesk_sidebar.html' %}

        {% endif %}
    {% comment %} sidebar ends {% endcomment %}

        <div class="content">


   {% comment %} top header starts {% endcomment %}
            {% include '../partials/top_header.html' %}
   {% comment %} top header ends {% endcomment %}



   {% comment %} body content starts {% endcomment %}

                <!-- start: page body area -->
            <div class="px-xl-5 px-lg-4 px-3 py-3 page-body mt-5">
                <div class="row g-3 mb-3">
                    <div class="col-md-6 col-lg-3">
                        <div class="card">
                            <div class="card-header">
                                <h6 class="card-title mb-0">Today Booking</h6>
                            </div>
                            <div class="card-body">
                                <h2>{{ todays_bookings.count }}</h2>
                                <span class="text-muted">New bookings</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 ">
                        <div class="card ">
                            <div class="card-header">
                                <h6 class="card-title mb-0">Total Amount</h6>
                            </div>
                            <div class="card-body w ">
                                <h2> <span> &#8358  </span> {{ todays_total_payment }}</h2>
                              
                                <span class="text-muted">New income</span>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="card">
                            <div class="card-header">
                                <h6 class="card-title mb-0">Yesterdays Bookings</h6>
                            </div>
                            <div class="card-body">
                                <h2>{{ yesterdays_bookings.count }}</h2>
                                
                                <span class="text-muted">From previous period</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="card">
                            <div class="card-header">
                                <h6 class="card-title mb-0">Toal Income</h6>
                            </div>
                            <div class="card-body">
                                <h2> <span>&#8358</span> {{ yesterdays_total_payment }} </h2>
                               
                                <span class="text-muted">From previous period</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h6 class="card-title">Reservations</h6>
                            </div>
                            <div class="card-body">
                                <div id="reservations" style="height: 280px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


               {% comment %} body content ends {% endcomment %}


        </div>
    </main>
{% endblock %}