{% extends 'pages_base.html' %}
{% load static %}
{% block title %} About us {% endblock %}

{% block content %}


    <div class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8 text-center">
                    <h1 class="display-4 font-weight-bold">Small team. Big hearts.</h1>
                    <p class="lead text-muted mb-5">
                        Our focus is always on finding the best people to work with. Our bar is high, And you look ready to take on the challenge. </p>
                </div>
            </div>
            <div class="form-row mb-5">
                <div class="col-4">
                    <img src="{% static 'frontpage/assets/img/banner/2019-06-15/p.jpg' %}" class="img-fluid rounded shadow-lg" alt="...">
                </div>
                <div class="col-3">
                    <img src="{% static 'frontpage/assets/img/banner/2019-06-15/p1.jpg' %}" class="img-fluid rounded shadow-lg mb-4" alt="..."><img src="{% static 'frontpage/assets/img/banner/2019-06-15/p2.jpg' %}" class="img-fluid rounded shadow-lg mb-4" alt="..."> </div>
                <div class="col-5">
                    <div class="form-row mb-4">
                        <div class="col-5">
                            <img src="{% static 'frontpage/assets/img/banner/2019-06-15/p3.jpg' %}" class="img-fluid rounded shadow-lg" alt="...">
                        </div>
                        <div class="col-7">
                            <img src="{% static 'frontpage/assets/img/banner/2019-06-15/p4.jpg' %}" class="img-fluid rounded shadow-lg" alt="...">
                        </div>
                    </div>
                    <img src="{% static 'frontpage/assets/img/banner/2019-06-15/p5.jpg' %}" class="img-fluid rounded shadow-lg mt-1" alt="...">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-6 mb-3 col-lg-3 mb-lg-0"><span class="numscroller display-4 text-primary d-block" data-min="1" data-max="50000" data-delay="5" data-increment="1000">50000</span> <span class="h6">Monthly Active Users </span></div>
                <div class="col-6 mb-3 col-lg-3 mb-lg-0"><span class="numscroller display-4 text-primary d-block" data-min="1" data-max="130" data-delay="5" data-increment="10">130</span> <span class="h6">Team Members</span></div>
                <div class="col-6 mb-3 col-lg-3 mb-lg-0"><span class="numscroller display-4 text-primary d-block" data-min="1" data-max="1235" data-delay="5" data-increment="10">1235</span> <span class="h6">User Projects Published</span></div>
                <div class="col-6 mb-3 col-lg-3 mb-lg-0"><span class="numscroller display-4 text-primary d-block" data-min="1" data-max="4590" data-delay="5" data-increment="10">4590</span> <span class="h6">Server Uptime</span></div>
            </div>
        </div>
    </div>
    <div class="section section-about">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="section-title text-center mb-5 col-middle">
                        <h2 class="block-title fs-25 mb-2 font-weight-bold">
                            Trusted by thousands of companies</h2>
                        <div class="sub-title fs-18">
                            Our guests always travel the world in style. Mention @Kempinski on Instagram for a chance to be featured! </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-4 col-md-2 mb-5">
                    <img class="clients" src="{% static 'frontpage/assets/img/banner/2021-11-18/i.jpg' %}" alt="Image Description">
                </div>
                <div class="col-4 col-md-2 mb-5">
                    <img class="clients" src="{% static 'frontpage/assets/img/banner/2021-01-11/a1.svg' %}" alt="Image Description">
                </div>
                <div class="col-4 col-md-2 mb-5">
                    <img class="clients" src="{% static 'frontpage/assets/img/banner/2021-01-11/f.svg' %}" alt="Image Description">
                </div>
                <div class="col-4 col-md-2 mb-5">
                    <img class="clients" src="{% static 'frontpage/assets/img/banner/2021-01-11/g.svg' %}" alt="Image Description">
                </div>
                <div class="col-4 col-md-2 mb-5">
                    <img class="clients" src="{% static 'frontpage/assets/img/banner/2021-01-11/p.svg' %}" alt="Image Description">
                </div>
                <div class="col-4 col-md-2 mb-5">
                    <img class="clients" src="{% static 'frontpage/assets/img/banner/2021-01-11/s.svg' %}" alt="Image Description">
                </div>
                <div class="col-4 col-md-2 mb-5">
                    <img class="clients" src="{% static 'frontpage/assets/img/banner/2021-01-11/s1.svg' %}" alt="Image Description">
                </div>
                <div class="col-4 col-md-2 mb-5">
                    <img class="clients" src="{% static 'frontpage/assets/img/banner/2021-01-11/s2.svg' %}" alt="Image Description">
                </div>
                <div class="col-4 col-md-2 mb-5">
                    <img class="clients" src="{% static 'frontpage/assets/img/banner/2021-01-11/s3.svg' %}" alt="Image Description">
                </div>
            </div>
        </div>
    </div>

    <div class="section team">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="section-title text-center mb-5">
                        <h2 class="block-title fs-25 mb-2 font-weight-bold">
                            Our Team</h2>
                        <div class="sub-title fs-18">
                            Meet the people who make awesome stuffs
                        </div>
                    </div>

                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <div class="team-member">
                        <figure>
                            <img src="{% static 'frontpage/assets/img/banner/2021-04-04/0.jpg' %}" alt class="img-fluid">
                            <figcaption class="d-flex flex-column justify-content-center align-content-center position-absolute bottom-0 left-0 w-100 p-3">
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                <ul class="list-unstyled mb-0">
                                    <li class="list-inline-item"><a href="https://www.facebook.com/" class="text-white fs-24"><i class="fab fa-facebook-square"></i></a></li>
                                    <li class="list-inline-item"><a href="https://www.facebook.com/" class="text-white fs-24"><i class="fab fa-twitter"></i></a></li>
                                    <li class="list-inline-item"><a href="https://www.facebook.com/" class="text-white fs-24"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </figcaption>
                        </figure>
                        <h4 class="fs-21 font-weight-600 mt-2 mb-0">Lauren Cox</h4>
                        <p class="mb-0">Creative Director a</p>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="team-member">
                        <figure>
                            <img src="{% static 'frontpage/assets/img/banner/2021-04-04/01.jpg' %}" alt class="img-fluid">
                            <figcaption class="d-flex flex-column justify-content-center align-content-center position-absolute bottom-0 left-0 w-100 p-3">
                                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from</p>
                                <ul class="list-unstyled mb-0">
                                    <li class="list-inline-item"><a href="https://www.facebook.com/" class="text-white fs-24"><i class="fab fa-facebook-square"></i></a></li>
                                    <li class="list-inline-item"><a href="https://www.facebook.com/" class="text-white fs-24"><i class="fab fa-twitter"></i></a></li>
                                    <li class="list-inline-item"><a href="https://www.facebook.com/" class="text-white fs-24"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </figcaption>
                        </figure>
                        <h4 class="fs-21 font-weight-600 mt-2 mb-0">Jessie Barnett</h4>
                        <p class="mb-0">UI/UX Designer</p>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="team-member">
                        <figure>
                            <img src="{% static 'frontpage/assets/img/banner/2019-06-15/06.jpg' %}" alt class="img-fluid">
                            <figcaption class="d-flex flex-column justify-content-center align-content-center position-absolute bottom-0 left-0 w-100 p-3">
                                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from</p>
                                <ul class="list-unstyled mb-0">
                                    <li class="list-inline-item"><a href="https://www.facebook.com/" class="text-white fs-24"><i class="fab fa-facebook-square"></i></a></li>
                                    <li class="list-inline-item"><a href="https://www.facebook.com/" class="text-white fs-24"><i class="fab fa-twitter"></i></a></li>
                                    <li class="list-inline-item"><a href="https://www.facebook.com/" class="text-white fs-24"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </figcaption>
                        </figure>
                        <h4 class="fs-21 font-weight-600 mt-2 mb-0">Terry Fletcher</h4>
                        <p class="mb-0">Web Developer</p>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="team-member">
                        <figure>
                            <img src="{% static 'frontpage/assets/img/banner/2021-11-18/0.jpg' %}" alt class="img-fluid">
                            <figcaption class="d-flex flex-column justify-content-center align-content-center position-absolute bottom-0 left-0 w-100 p-3">
                                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from</p>
                                <ul class="list-unstyled mb-0">
                                    <li class="list-inline-item"><a href="https://www.facebook.com/" class="text-white fs-24"><i class="fab fa-facebook-square"></i></a></li>
                                    <li class="list-inline-item"><a href="https://www.facebook.com/" class="text-white fs-24"><i class="fab fa-twitter"></i></a></li>
                                    <li class="list-inline-item"><a href="https://www.facebook.com/" class="text-white fs-24"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </figcaption>
                        </figure>
                        <h4 class="fs-21 font-weight-600 mt-2 mb-0">Terry Fletcher</h4>
                        <p class="mb-0">Web Developer</p>
                    </div>

{% endblock %}