{% load static %}
<div class="grid row">
    
    {% for r in room_gallery %}
    <div class="grid-sizer Twin Room" data-category="transition"></div>
    <div class="grid-item grid-item--width2 twin_room" data-category="transition">
        <a href="{% static 'frontpage/assets/img/banner/2021-02-22/b1.jpg' %}" class="d-block position-relative" data-fancybox="images" data-caption="Twin Room">
            <img src="{% static 'frontpage/assets/img/banner/2021-02-22/b1.jpg' %}" alt class="img-fluid">
            <div class="gallery-info text-center position-absolute top-0 left-0 h-100 w-100">
                <div class="moreinfo h-100 w-100 position-relative d-flex align-items-center justify-content-center">
                    <div class="user-name text-white font-weight-500">
                        {{r.room_type}}
                    </div>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
