{% extends 'pages_base.html' %}
{% load static %}
{% block title %}Room List  {% endblock %}

{% block content %}
    <style>
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.8); /* Adjust the opacity here */
            z-index: 1;
        }

        .content {
            position: relative;
            z-index: 2;
            text-align: center;
            padding: 20px;
            color: white; /* Ensures text is white */
        }

        .background {
            width: 100%;
            height: 30vh;
            position: relative;
        }
    </style>
    <div class="py-5 bg-gray background" style="background-image: url('{{ room_type.banner_img.url }}'); background-size: cover; background-position: center;" >
        <div class="overlay"></div>
        <div class="container">
            <div class="content text-center text-light">
                <h2 style="color:white;">{{room_type.type}} Room</h2>
                <p>{{rooms.count}} Available Rooms</p>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">


            {% if rooms %}
                {% for room in rooms %}
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="room-list card shadow-xs rounded-0 p-0 mb-4">
                                <div class="card-body">
                                    <div class="media d-block d-md-flex">
                                        <div class="position-relative mr-md-4 mb-3 mb-md-0">
                                            <a href="{{ room.banner_img.url }}" class="room-img position-relative d-block" data-fancybox data-caption="Twin Room">
                                                <img src="{{ room.banner_img.url }}" alt class="img-fluid img-fluid-custome width_200 w-sm-100" width="320">
                                            </a>
                                            <div class="icon-content position-absolute d-flex">
                                                <a class="zoom-icon mr-2" href="{{ room.banner_img.url }}" data-fancybox data-caption="Twin Room">
                                                    <i class="fas fa-search-plus"></i>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="media-body">
                                            <div class="d-md-flex justify-content-between">
                                                <div class="item-overview">
                                                    <h5 class="item-title font-weight-bold mt-0">{{ room.room_type }} // {{ room.room_number }}</h5>

                                                    <div class="star-rating d-flex fs-13 mb-2">
                                                        <div class="star-rating_container text-warning">
                                                            <span class="fas fa-star star_colour"></span>
                                                            <span class="fas fa-star star_colour"></span>
                                                            <span class="fas fa-star star_colour"></span>
                                                            <span class="fas fa-star star_colour"></span>
                                                            <span class="fas fa-star star_colour"></span>
                                                        </div>
                                                        <div class="review-numbers ml-2">
                                                            <span class="reviews-stats">(5)</span>
                                                        </div>
                                                    </div>
                                                    <div class="room-size fs-16 font-weight-bold mr-2">{{ room.room_type.room_capacity }} Adults</div>
                                                    <div class="room-content d-flex align-items-center mb-3">
                                                        <div class="room-size fs-16 font-weight-bold mr-2">{{ room.room_type.number_of_beds }} Beds</div>
                                                    </div>
                                                    <a class="btn btn-gray mb-2 mb-lg-0 mr-2" data-toggle="collapse" href="#details{{ room.id }}" role="button" aria-controls="details{{ room.id }}">Details<i class="ti-angle-down ml-2"></i></a>
                                                </div>

                                                <div class="item-info position-relative">
                                                    <div class="item-price">
                                                        <div class="d-flex justify-content-md-end">
                                                            <span class="h4 mb-0">$</span>
                                                            <span class="price h2 font-weight-600 text-danger mb-0">{{ room.room_type.base_price }}</span>
                                                            <span class="h6 align-self-end mb-1">/Night</span>
                                                        </div>
                                                        <div class="price-refundable">
                                                            <span>Free cancellation</span>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <input type="hidden" class="room_id_{{ room.id }}" value="{{ room.id }}" id="room_id">
                                                        <input type="hidden" class="room_number_{{ room.id }}" value="{{ room.room_number }}" id="room_number">
                                                        {% comment %} <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

                                                        <button
                                                            class="btn btn-info button border add-to-cart"
                                                            hx-post="{% url 'booking:add_booking_to_cart' %}"
                                                            hx-trigger="click"
                                                            hx-target="#cart-count"
                                                            hx-swap="innerHTML"
                                                            hx-vals='{"room_id": "{{ room.id }}"}'
                                                            id="add-to-cart-button">
                                                            <i class="fas fa-shopping-cart"></i> Add To Selection
                                                        </button> {% endcomment %}

                                                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
<button
    class="btn btn-info button border add-to-cart"
    hx-post="{% url 'booking:add_booking_to_cart' %}"
    hx-trigger="click"
    hx-target="#cart-count"
    hx-swap="innerHTML"
    hx-vals='{"room_id": "{{ room.id }}"}'
    id="add-to-cart-button">
    <i class="fas fa-shopping-cart"></i> Add To Selection
</button>



                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="collapse multi-collapse" id="details{{ room.id }}">
                                        <div class="card card-body rounded-0 mt-3">
                                            <h3 class="fs-18 font-weight-bold mb-3">Included Amenities</h3>
                                            <ul class="list-unstyled list-articles mb-3">
                                                {% for room_amenity in room_amenities %}
                                                    {% if room_amenity.room.id == room.id %}
                                                        {% for amenity in room_amenity.amenities %}
                                                            <li>{{ amenity.amenity.name }}</li>
                                                        {% empty %}
                                                            <li>No amenities available for this room.</li>
                                                        {% endfor %}
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                            <h3 class="fs-18 font-weight-bold mb-3">Equipment</h3>
                                            <ul class="list-unstyled list-style-2 list-articles mb-0">
                                            <!-- List equipment here if available -->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}



            <input type="hidden" value="{{ hotel.id }}" id="id">
            <input type="hidden" value="{{ hotel.name }}" id="hotel_name">
            <input type="hidden" value="{{ room_type.type }}" id="room_name">
            <input type="hidden" value="{{ room_type.base_price }}" id="room_price">
            <input type="hidden" value="{{ room_type.number_of_beds }}" id="number_of_beds">
            <input type="hidden" value="{{ room_type.id }}" id="room_type">
            <input type="hidden" value="{{ checkin }}" id="checkin">
            <input type="hidden" value="{{ checkout }}" id="checkout">
            <input type="hidden" value="{{ adult }}" id="adult">
            <input type="hidden" value="{{ children }}" id="children">
        </div>
    </div>


    <script>
        $(document).ready(function(){

            var dateInput = $('#checkout_date');

            dateInput.on('change', function() {
                var selectedDate = dateInput.val();
                console.log('Selected date:', selectedDate);
            });
        })
    </script>
{% endblock %}