{% extends 'pages_base.html' %}
{% load static %}
{% block title %}Room List  {% endblock %}

{% block content %}


    <div class="py-5 bg-gray">
        <div class="container">
            <form action="https://hotel.bdtask-demo.com/xainhotel/user/roomlist" method="post" accept-charset="utf-8">
                <input type="hidden" name="csrf_test_name" value="daededbb46ee5511e0ee2dd97371f607" />
                <div class="search-area m-0">
                    <div class="row no-gutters custom-search-input-2 search-form-content">
                        <div class="search-option col-12 col-lg-3">
                            <label>Check In <i class="ti-calendar"></i></label>
                            <input id="daterangepicker" class="form-control" type="text" name="checkin" value="2024-08-29">
                        </div>
                        <div class="search-option col-12 col-lg-3">
                            <label>Check Out <i class="ti-calendar"></i></label>
                            <input id="daterangepicker2" class="form-control" type="text" name="checkout" value="2024-08-30">
                        </div>
                        <div class="search-option col-12 col-lg-3">
                            <div class="d-flex align-items-center justify-content-between h-50 border-bottom w-100 px-lg-3 px-xl-4">
                                <div class="search-title fs-13 text-uppercase">Adults</div>
                                <div class="d-flex justify-content-center align-items-center number-spinner">
                                    <a class=" btn-pm" data-dir="dwn"><span class="ti-minus"></span></a>
                                    <input type="text" class="spinner" name="adults" value="2">
                                    <a class=" btn-pm" data-dir="up"><span class="ti-plus"></span></a>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-between h-50 w-100 px-lg-3 px-xl-4">
                                <div class="search-title fs-13 text-uppercase">Children</div>
                                <div class="d-flex justify-content-center align-items-center children">
                                    <a class=" btn-pm" data-dir="dwn"><span class="ti-minus"></span></a>
                                    <input type="text" class="spinner" name="children" value="0">
                                    <a class=" btn-pm" data-dir="up"><span class="ti-plus"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <button type="submit" class="btn">
                                <span>Need Help: <p>01840998765</p></span>
                                Check Availability </button>
                        </div>
                    </div>
                </div>
            </form> </div>
    </div>


    <div class="section">
        <div class="container">


            {% if rooms %}
                {% for room in rooms %}
                    <div class="room-list card shadow-xs rounded-0 p-0 mb-4">
                        <div class="card-body">
                            <div class="media d-block d-md-flex">
                                <div class="position-relative mr-md-4 mb-3 mb-md-0">
                                    <a href="{{ room.banner_img.url }}" class="room-img position-relative d-block" data-fancybox data-caption="Twin Room">
                                        <img src="{{ room.banner_img.url}}" alt class="img-fluid img-fluid-custome width_200 w-sm-100" width="320">
                                    </a>
                                    <div class="icon-content position-absolute d-flex">
                                        <a class="zoom-icon mr-2" href="https://hotel.bdtask-demo.com/xainhotel/application/modules/room_setting/assets/images/2021-02-24/b1.jpg" data-fancybox data-caption="Twin Room"><i class="fas fa-search-plus"></i></a>
                                    </div>
                                </div>


                                <div class="media-body">
                                    <div class="d-md-flex justify-content-between">
                                        <div class="item-overview">
                                            <h5 class="item-title font-weight-bold mt-0">{{room.room_type}} // {{ room.room_number}}</h5>

                                            <p class="item-description mb-3">Non-refundable, Breakfast included </p>

                                            <div class="star-rating d-flex fs-13 mb-2">
                                                <div class="star-rating_container text-warning">
                                                </div>
                                                <div class="review-numbers ml-2">
                                                    <span class="fas fa-star star_colour"></span><span class="fas fa-star star_colour"></span><span class="fas fa-star star_colour"></span><span class="fas fa-star star_colour"></span><span class="fas fa-star star_colour"></span> <span class="reviews-stats">(5)</span>
                                                </div>
                                            </div>

                                            <div class="room-size fs-16 font-weight-bold mr-2">{{ room.room_type.room_capacity }} 6&nbsp;<span>Adults</span> &nbsp;<span></span></div>
                                            <div class="room-content d-flex align-items-center mb-3">
                                                <div class="room-size fs-16 font-weight-bold mr-2">{{room.room_type.number_of_beds}}&nbsp;<span>Beds</span></div>
                                            </div>

                                            <a class="btn btn-gray mb-2 mb-lg-0 mr-2" data-toggle="collapse" href="#details0" role="button" aria-controls="details0">Details<i class="ti-angle-down ml-2"></i></a>
                                    {% comment %} <button class="btn btn-gray mb-2 mb-lg-0" type="button" data-toggle="collapse" data-target="#conditions0" aria-controls="conditions0">Reserve Condition<i class="ti-angle-down ml-2"></i> </button>
                                 {% endcomment %}
                                        </div>

                                        <div class="item-info position-relative">
                                            <div class="item-price">
                                                <div class="d-flex justify-content-md-end">
                                                    <span class="h4 mb-0">$</span>
                                                    <span class="price h2 font-weight-600 text-danger mb-0" data-annual="29" data-monthly="49">{{room.room_type.price}}</span>
                                                    <span class="h6 align-self-end mb-1">/Night</span>
                                                </div>
                                                <div class="price-refundable">
                                                    <span>Free cancellation</span>
                                                </div>
                                            </div>
                                            <form action="https://hotel.bdtask-demo.com/xainhotel/roomdetails" method="post" accept-charset="utf-8">
                                                <input type="hidden" name="csrf_test_name" value="daededbb46ee5511e0ee2dd97371f607" />
                                                <input name="roomid" type="hidden" value="1" />
                                                <div>
                                                    {% if room.is_available == True %}
                                                        <input name="send" type="submit" value="Select" class="btn btn-primary" />
                                                    {% else %}
                                                        <input value="unvailable" class="btn btn-warning" disabled />
                                                    {% endif %}
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div class="collapse multi-collapse" id="details0">
                                <div class="card card-body rounded-0 mt-3">
                                    <h3 class="fs-18 font-weight-bold mb-3">Included Amenities</h3>
                                    <ul class="list-unstyled list-articles mb-3">
                                        {% for amenity in amenities %}
                                            <li><a href="#"><i class="fas fa-gift mr-2"></i> {{amenity.name}}</a></li>
                                        {% endfor %}
                                    </ul>
                                    <h3 class="fs-18 font-weight-bold mb-3">Equipment</h3>
                                    <ul class="list-unstyled list-style-2 list-articles mb-0">
                                    </ul>
                                </div>
                            </div>

                    {% comment %} <div class="collapse multi-collapse" id="conditions0">
                        <div class="card card-body rounded-0 mt-3">
                            <p>For cancellations made up to 4 days before the date of arrival, no additional fee will be charged.
                                For cancellations within 3 days prior to arrival, 100% of the total booking will be charged.
                                Full payment will be made directly at the accommodation. A credit card is required to make a reservation. In order to verify that the credit card is valid, a temporary hold of 0.11 € is placed on the card.</p>
                        </div>
                    </div> {% endcomment %}

                        </div>
                    </div>
                {% endfor %}
            {% endif %}

        </div>
    </div>

{% endblock %}