{% extends 'pages_base.html' %}
{% load static %}
{% block title %}Room List  {% endblock %}

{% block content %}


    <div class="py-5 bg-gray">
        <div class="container">
            <form method="post" action="{% url 'booking:check_room_availability' %}" >
                {% csrf_token %}
                <input type="hidden" value="{{hotel.id}}" name="hotel-id" id="">
                <div class="row no-gutters custom-search-input-2 search-form-content">
                    <div class="search-option col-12 col-sm-6 col-lg-2">
                        <label>Check In </label>
                        {% comment %} <input id="daterangepicker" class="form-control" type="text" name="checkin" value> {% endcomment %}
                        <input type="date" id="date-picker" name="checkin" class="form-control" placeholder="Select Date">
                    </div>
                    <div class="search-option col-12 col-sm-6 col-lg-2">
                        <label>Check Out </label>
                        {% comment %} <input id="daterangepicker2" class="form-control" type="text" name="checkout" value> {% endcomment %}
                        <input type="date" name="checkout" id="date-picker" class="form-control" placeholder="Select Date">
                    </div>

                    <div class="search-option col-12 col-sm-6 col-lg-3">

                        <div class="d-flex align-items-center justify-content-between h-50 border-bottom w-100 px-lg-3 px-xl-4">
                            <div class="search-title fs-13 text-uppercase">Adults </div>
                            <div class="d-flex justify-content-center align-items-center number-spinner">
                                <a class=" btn-pm" data-dir="dwn"><span class="ti-minus"></span></a>
                                <input type="text" class="spinner" name="adult" value="1">
                                <a class=" btn-pm" data-dir="up"><span class="ti-plus"></span></a>
                            </div>
                        </div>

                        <div class="d-flex align-items-center justify-content-between h-50 w-100 px-lg-3 px-xl-4">
                            <div class="search-title fs-13 text-uppercase">Children</div>
                            <div class="d-flex justify-content-center align-items-center children">
                                <a class=" btn-pm" data-dir="dwn"><span class="ti-minus"></span></a>
                                <input type="text" class="spinner"  name="children" value="1">
                                <a class=" btn-pm" data-dir="up"><span class="ti-plus"></span></a>
                            </div>
                        </div>
                    </div>

                    <div class="search-option col-2 col-sm-6 col-lg-2">
                        <br>
                        <a href="#" class="search-title fs-13 text-uppercase">Select Room Type</a>
                        <br>
                        <select  style="width:150px; border:5px solid black; padding:5px;" class=" border" name="room-type" required>
                            <option class ="form-control" value="">Room Type</option>
                            {% for room in hotel.hotel_room_types %}
                                <option class ="form-control" value="{{room.slug}}">{{room.type}}</option>
                            {% endfor %}
                        </select>


                    </div>

                    <div class="col-lg-2" style="background-color:#fee277;">
                        <button type="submit" class=" btn btn-info d-flex flex-column align-items-center justify-content-around " >

                            Check Availability </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="section py-5">
        <div class="container">
            {% if rooms %}
                {% for room in rooms %}
                    <div class="room-list card shadow-sm rounded-0 mb-4">
                        <div class="card-body p-4">
                            <div class="media d-block d-md-flex">
                                <div class="position-relative mr-md-4 mb-3 mb-md-0">
                                    <a href="{{ room.banner_img.url }}" class="room-img position-relative d-block rounded shadow-sm" data-fancybox data-caption="{{ room.room_type }}">
                                        <img src="{{ room.banner_img.url }}" alt class="img-fluid rounded">
                                    </a>
                                    <div class="icon-content position-absolute d-flex">
                                        <a class="zoom-icon mr-2 text-primary" href="{{ room.banner_img.url }}" data-fancybox data-caption="{{ room.room_type }}">
                                            <i class="fas fa-search-plus"></i>
                                        </a>
                                    </div>
                                </div>

                                <div class="media-body">
                                    <div class="d-md-flex justify-content-between">
                                        <div class="item-overview">
                                            <h5 class="item-title font-weight-bold text-dark">{{ room.room_type }} // {{ room.room_number }}</h5>
                                            <p class="item-description text-muted mb-3">Non-refundable, Breakfast included</p>
                                            <div class="star-rating d-flex text-warning mb-2">
                                                <span class="fas fa-star"></span>
                                                <span class="fas fa-star"></span>
                                                <span class="fas fa-star"></span>
                                                <span class="fas fa-star"></span>
                                                <span class="fas fa-star"></span>
                                                <span class="ml-2 text-muted">(5)</span>
                                            </div>
                                            <div class="room-size text-dark font-weight-bold mb-2">{{ room.room_type.room_capacity }} Adults</div>
                                            <div class="room-content text-dark font-weight-bold mb-3">{{ room.room_type.number_of_beds }} Beds</div>
                                            <a class="btn btn-outline-primary mb-2" data-toggle="collapse" href="#details{{ forloop.counter }}" role="button" aria-expanded="false" aria-controls="details{{ forloop.counter }}">Details<i class="ti-angle-down ml-2"></i></a>
                                        </div>

                                        <div class="item-info position-relative text-right">
                                            <div class="item-price">
                                                <div class="d-flex align-items-center justify-content-end">
                                                    <span class="h4 text-dark">$</span>
                                                    <span class="h2 font-weight-bold text-danger">{{ room.room_type.base_price }}</span>
                                                    <span class="h6 align-self-end mb-1">/Night</span>
                                                </div>
                                                <div class="price-refundable text-muted">
                                                    <span>Free cancellation</span>
                                                </div>
                                            </div>
                                            <form action="" method="post" accept-charset="utf-8">
                                                {% csrf_token %}
                                                <input name="roomid" type="hidden" value="1" />
                                                <div>
                                                    {% if room.is_available == True %}
                                                        <input name="send" type="submit" value="Select" class="btn btn-primary btn-block mt-2" />
                                                    {% else %}
                                                        <input value="Unavailable" class="btn btn-warning btn-block mt-2" disabled />
                                                    {% endif %}
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="collapse multi-collapse" id="details{{ forloop.counter }}">
                                <div class="card card-body mt-3">
                                    <h5 class="font-weight-bold text-dark mb-3">Included Amenities</h5>
                                    <ul class="list-unstyled">
                                        {% for amenity in amenities %}
                                            <li><i class="fas fa-gift text-primary mr-2"></i> {{ amenity.name }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock %}