		<!-- start: page menu link -->
<aside class="ps-xl-5 ps-lg-4 ps-3 pe-2 py-3 sidebar sticky-top" data-bs-theme="none">
    <nav class="navbar navbar-expand-xl py-0">
        <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvas_Navbar">
            <div class="offcanvas-header">
                <span class="fw-bold fs-5 text-gradient">X <small>-</small>Empire </span>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body flex-column custom_scroll ps-4 ps-xl-0">
                <div class="d-flex align-items-start mb-4">
                    <img class="avatar lg rounded-circle border border-3" src="assets/images/profile_av.png" alt="avatar">
                    <div class="ms-3 mt-1">
                        <h4 class="mb-0 text-gradient title-font">Front-Desk</h4>
                        <span class="text-muted">Front-desk</span>
                    </div>
                </div>
						<!-- start: Menu tab -->
                <ul class="nav nav-tabs tab-dynamic px-0 mb-4" role="tablist" style="--dynamic-color: var(--accent-color)">
                    <li class="nav-item" role="presentation"><a class="ps-2 pe-3 nav-link active" data-bs-toggle="tab" href="#tab_hotels" role="tab" aria-selected="false" tabindex="-1">X-empire</a></li>
                </ul>
						<!-- start: Menu content -->
                <div class="tab-content">
							<!-- start: Hotel tab-->
                    <div class="tab-pane fade active show" id="tab_hotels" role="tabpanel">

                        <ul class="list-unstyled mb-4 menu-list">
                            <li>
                                <a class="active" href="{% url 'dashboard:frontdesk_dashboard' %}" aria-label="Hotel Dashboard">
                                    <svg class="svg-stroke" xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M5 12l-2 0l9 -9l9 9l-2 0"></path>
                                        <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path>
                                        <path d="M10 12h4v4h-4z"></path>
                                    </svg>
                                    <span class="mx-3">Dashboard</span>
                                </a>
                            </li>


                            <li>
                                <a href="{% url 'dashboard:frontdesk_booking_list' %}" aria-label="Users">

                                    <svg xmlns="http://www.w3.org/2000/svg" class="svg-stroke" width="24" viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M13 5h8"></path>
                                        <path d="M13 9h5"></path>
                                        <path d="M13 15h8"></path>
                                        <path d="M13 19h5"></path>
                                        <path d="M3 4m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"></path>
                                        <path d="M3 14m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"></path>
                                    </svg>



                                    <span class="mx-3"> Book List</span>
                                </a>

                            </li>

                            <li>
                                <a href=""  aria-label="Users">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="svg-stroke" width="24" viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M12 8m-5 0a5 5 0 1 0 10 0a5 5 0 1 0 -10 0"></path>
                                        <path d="M8 11a5 5 0 1 0 3.998 1.997"></path>
                                        <path d="M12.002 19.003a5 5 0 1 0 3.998 -8.003"></path>
                                    </svg>
                                    <span class="mx-3">Book Room</span>
                                </a>

                            </li>

                            {% comment %} <li>
                                <a href=""  aria-label="Users">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="svg-stroke" width="24" viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M12 8m-5 0a5 5 0 1 0 10 0a5 5 0 1 0 -10 0"></path>
                                        <path d="M8 11a5 5 0 1 0 3.998 1.997"></path>
                                        <path d="M12.002 19.003a5 5 0 1 0 3.998 -8.003"></path>
                                    </svg>
                                    <span class="mx-3">Reserve Room</span>
                                </a>

                            </li> {% endcomment %}

                            <li>
                                <a href="{% url 'dashboard:checkout_list' %}"  aria-label="Users">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="svg-stroke" width="24" viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M12 8m-5 0a5 5 0 1 0 10 0a5 5 0 1 0 -10 0"></path>
                                        <path d="M8 11a5 5 0 1 0 3.998 1.997"></path>
                                        <path d="M12.002 19.003a5 5 0 1 0 3.998 -8.003"></path>
                                    </svg>
                                    <span class="mx-3">Room Checkout</span>
                                </a>

                            </li>


                            <li>
                                <a href="{% url 'dashboard:frontdesk_room_status' %}"  aria-label="Users">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="svg-stroke" width="24" viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M14 12v.01" />
                                        <path d="M3 21h18" />
                                        <path d="M6 21v-16a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v16" />
                                    </svg>
                                    <span class="mx-3">Room Status</span>
                                </a>

                            </li>

                            <li>
                                <a  class=" btn active btn-small" href="{% url 'signout' %}"  aria-label="Users">

                                    <span class="mx-3">logout</span>
                                </a>

                            </li>


                        </div>
                    </div>
                </div>
            </nav>
        </aside>
