<!-- start: page menu link -->
<aside class="ps-xl-5 ps-lg-4 ps-3 pe-2 py-3 sidebar sticky-top" data-bs-theme="none">
    <nav class="navbar navbar-expand-xl py-0">
        <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvas_Navbar">
            <div class="offcanvas-header">
                <span class="fw-bold fs-5 text-gradient border-3">X-Empire</span>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body flex-column custom_scroll ps-4 ps-xl-0">
                <div class="d-flex align-items-start mb-4">
                    <img class="avatar lg rounded-circle border border-3" src="assets/images/profile_av.png" alt="avatar">
                    <div class="ms-3 mt-1">
                        <h4 class="mb-0 text-gradient title-font">Supervisor</h4>
                        <span class="text-muted"> Supervisor</span>
                    </div>
                </div>

                <!-- start: Menu tab -->
                <ul class="nav nav-tabs tab-dynamic px-0 mb-4" role="tablist" style="--dynamic-color: var(--accent-color)">
                    <li class="nav-item" role="presentation">
                        <a class="ps-2 pe-3 nav-link active" data-bs-toggle="tab" href="#tab_hotels" role="tab" aria-selected="false" tabindex="-1">HOTELS</a>
                    </li>
                </ul>

                <!-- start: Menu content -->
                <div class="tab-content">
                    <!-- start: Hotel tab-->
                    <div class="tab-pane fade active show" id="tab_hotels" role="tabpanel">
                        <h6 class="fl-title title-font ps-2 small text-uppercase text-muted py-3" style="--dynamic-color: var(--theme-color1)">Universal</h6>
                        <ul class="list-unstyled mb-4 menu-list">
                            <li>
                                <a class="active" href="{% url 'dashboard:supervisor_dashboard' %}" aria-label="Hotel Dashboard">
                                    <svg class="svg-stroke" xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M5 12l-2 0l9 -9l9 9l-2 0"></path>
                                        <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path>
                                        <path d="M10 12h4v4h-4z"></path>
                                    </svg>
                                    <span class="mx-3">Dashboard</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'inventory:supervisor_report' %}" aria-label="Hotel Front">
                                    <svg class="svg-stroke" xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M3 21l18 0" />
                                        <path d="M4 21v-11l2.5 -4.5l5.5 -2.5l5.5 2.5l2.5 4.5v11" />
                                        <path d="M12 9m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                                        <path d="M9 21v-5a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v5" />
                                    </svg>
                                    <span class="mx-3">Reports</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'dashboard:supervisor_transaction_list' %}" aria-label="Transaction list">
                                    <svg class="svg-stroke" xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M17 8v-3a1 1 0 0 0 -1 -1h-10a2 2 0 0 0 0 4h12a1 1 0 0 1 1 1v3m0 4v3a1 1 0 0 1 -1 1h-12a2 2 0 0 1 -2 -2v-12"></path>
                                        <path d="M20 12v4h-4a2 2 0 0 1 0 -4h4"></path>
                                    </svg>
                                    <span class="mx-3">Transaction</span>
                                </a>
                            </li>
                            <li>
                                <a href="#RoomMenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle" aria-label="Room Book">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="svg-stroke" width="24" viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M14 12v.01"></path>
                                        <path d="M3 21h18"></path>
                                        <path d="M6 21v-16a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v16"></path>
                                    </svg>
                                    <span class="mx-3">Room Book</span>
                                </a>
                                <ul class="collapse list-unstyled" id="RoomMenu">
                                    <li><a href="{% url 'dashboard:supervisor-booking_list' %}" aria-label="Booking List">Booking List</a></li>
                                    <li><a href="{% url 'dashboard:supervisor_checkout_list' %}" aria-label="Room Checkout">Room Checkout</a></li>
                                    <li><a href="{% url 'dashboard:supervisor_room_status' %}" aria-label="Room Status">Room Status</a></li>
                                </ul>
                            </li>


                            <li>
                                <a href="#RoomFacilitesMenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle" aria-label="Room Book">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="svg-stroke" width="24" viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M14 12v.01"></path>
                                        <path d="M3 21h18"></path>
                                        <path d="M6 21v-16a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v16"></path>
                                    </svg>
                                    <span class="mx-3">Room Facilities</span>
                                </a>
                                <ul class="collapse list-unstyled" id="RoomFacilitesMenu">
                                    <li><a href="{% url 'dashboard:admin_list_room_amenities' %}" aria-label="Facilites List">Facilites List</a></li>
                                    {% comment %} <li><a href="facilites-details.html" aria-label="Facilites Details">Facilites Details</a></li>
                                    <li><a href="room-size.html" aria-label="Room Size">Room Size</a></li> {% endcomment %}
                                </ul>
                            </li>

                            <li>
                                <a href="#inventory" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle" aria-label="Room Book">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="svg-stroke" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M3 4h6a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-6z" />
                                        <path d="M15 4h6a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-6z" />
                                        <path d="M9 6h6v12h-6z" />
                                    </svg>
                                    <span class="mx-3">Inventory</span>
                                </a>
                                <ul class="collapse list-unstyled" id="inventory">

                                    <li ><a href="{% url 'dashboard:warehouse_setup' %}" aria-label=" warehouse">Warehouse </a></li>
                                    <li><a href="{% url 'inventory:supplier_list' %}" aria-label="Items Unit List">Suppliers </a></li>
                                    <li><a href="{% url 'inventory:category_list' %}" aria-label="Items Category">Item Categories</a></li>
                                    <li><a href="{% url 'inventory:consumable_item_list' %}" aria-label="consumable items">Purchased Item</a></li>
                                    <li><a href="{% url 'inventory:warehouse_stock' %}" aria-label=" warehouse">Move Items </a></li>
                                    <li><a href="{% url 'inventory:equipment_list' %}" aria-label="Items List">Equipment Inventory</a></li>
                                    <li><a href="{% url 'inventory:amenity_item_list' %}" aria-label="amenities">Amenities Inventory</a></li>

                                    {% comment %} <li><a href="" aria-label="Items Destroyed">Amenities Inventory</a></li> {% endcomment %}
                                </ul>
                            </li>

                            <li>



                                <a href="#roaster" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle" aria-label="Room Book">

                                    <svg xmlns="http://www.w3.org/2000/svg" class="svg-stroke" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <!-- Pen tip -->
                                        <path d="M12 21l1.5 -1.5l2 -7l-6 -6l-7 7l7 7z" fill="currentColor" stroke="none"/>
                                    <!-- Pen cap -->
                                        <path d="M14.5 3.5l6 6" />
                                        <path d="M18 7l-5 5" />
                                        <path d="M3 21l7 -7" />
                                    <!-- Decorative grip area -->
                                        <path d="M9 12l2 -2" />
                                        <path d="M10 11l1 -1" />
                                    </svg>



                                    <span class="mx-3">Workers Roaster</span>
                                </a>
                                <ul class="collapse list-unstyled" id="roaster">

                                    <li>
                                        <a href="{% url 'hrm:current_schedule_list' %}" aria-label="Assigned List" >
                                            <span class="mx-3">Todays Schedules</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="{% url 'hrm:daily_attendance' %}" aria-label="hrm attendance" >
                                            <span class="mx-3"> Attendance
                                            </a >
                                        </li>

                                        <li>
                                            <a href="{% url 'hrm:staff_schedule' %}" aria-label="Assigned List" >
                                                <span class="mx-3">All schedules </span>
                                            </a>
                                        </li>
                                    </ul>
                                {% comment %} <li><a href="" aria-label="Items Destroyed">Amenities Inventory</a></li> {% endcomment %}
                                </li>
                            <!-- Other dropdowns... -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </aside>
