{% extends 'pages_base.html' %}
{% load static %}
{% block title %} signin {% endblock %}

{% block content %}

    <div class="section bg-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8 text-center">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="form-wrapper m-auto">
                    <div class="form-container my-4">
                        <div class="panel">
                            <div class="panel-header text-center mb-3">
                                <h3 class="fs-24">Sign into your account!</h3>
                                <p class="text-muted text-center mb-0">Nice to see you! Please log in with your account.</p>
                            </div>
                            {% if form %}
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        {{ form.username.label_tag }}
                                        {{ form.username }}
                                        {% if form.username.errors %}
                                            <div class="invalid-feedback d-block">
                                                {% for error in form.username.errors %}
                                                    {{ error }}
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        {{ form.password.label_tag }}
                                        {{ form.password }}
                                        {% if form.password.errors %}
                                            <div class="invalid-feedback d-block">
                                                {% for error in form.password.errors %}
                                                    {{ error }}
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <a href=""><p class="text-right fs-12 text-success">Forgot Password</p></a>
                                    <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                                </form>
                            {% endif %}
                        </div>
                        <span class="facebook-span"></span>
                        <div>
                            <p class="fs-20 text-center">Do not have an account <a class="text-red" href="{% url 'signup' %}">Register</a></p><a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}