{% load static %}


<div class="py-5 bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                <div class="newslatter">
                    <h3 class="text-center text-white">Get updates &amp; exclusive offers</h3>
                    <p class="text-center">Sign up to our newsletter to be the first to hear about<br class="d-none d-lg-block">new openings, offers and more.</p>
                    <div class="input-group mb-3">
                        <input type="text" name="youremail" id="youremail" class="form-control border-0 rounded-0" placeholder="Enter email here..." aria-label="Recipient's username" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary rounded-0 border-0" type="button" id="button-addon2" onClick="subscribeemail()">Subscribe</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="main-footer py-5 border-top-muted bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-xl-3 mb-5">
                <div class="footer-about">
                    <div class="footer-logo mb-3">
                        <a href="index.html"><img src="assets/img/2021-11-18/F.png" alt class="img-fluid"></a>
                    </div>
                    Plot-7, Road-02, Hotel Motel Zone, San Francisco Road, United States of America <div><br></div>
                    <a href="https://hotel.bdtask-demo.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="751c1b131a351110181a5b161a18">[email&#160;protected]</a>
                </div>
            </div>
            <div class="col-lg-7 col-xl-7 offset-xl-1">
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-4 mb-3 mb-lg-0">
                        <h3 class="link-title fs-18 mb-3 font-weight-600 position-relative text-white">
                            Pages</h3>
                        <ul class="footer-link list-unstyled menu mb-0">
                            <li class="mb-2"><a class="link d-block font-weight-500" href="hotel.html">Home</a></li>
                            <li class="mb-2"><a class="link d-block font-weight-500" href="about.html">About Us</a></li>
                            <li class="mb-2"><a class="link d-block font-weight-500" href="contact.html">Contact Us</a></li>
                            <li class="mb-2"><a class="link d-block font-weight-500" href="gallery.html">Gallery</a></li>
                            <li class="mb-2"><a class="link d-block font-weight-500" href="index.html">My Profile</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4 mb-3 mb-lg-0">
                        <h3 class="link-title fs-18 mb-3 font-weight-600 position-relative text-white">
                            Social Link</h3>
                        <ul class="list-unstyled social-icon">
                            <li><a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer"> <i class="fab fa-instagram icon-wrap"></i> <span>Instagram </span> </a></li>
                            <li><a href="https://twitter.com/" target="_blank" rel="noopener noreferrer"> <i class="fab fa-twitter icon-wrap"></i> <span>Twitter</span> </a></li>
                            <li><a href="https://dribbble.com/" target="_blank" rel="noopener noreferrer"> <i class="fab fa-dribbble icon-wrap"></i> <span>Dribbble</span> </a></li>
                            <li><a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer"> <i class="fab fa-facebook-f icon-wrap"></i> <span>Facebook</span> </a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <h3 class="link-title fs-18 mb-3 font-weight-600 position-relative text-white">
                            Company Policy</h3>
                        <ul class="footer-link list-unstyled menu mb-0">
                            <li class="mb-2"><a class="link d-block font-weight-500" href="privacy.html">Privacy</a></li>
                            <li class="mb-2"><a class="link d-block font-weight-500" href="terms.html">Terms & Conditions</a></li>
                        </ul> </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="sub-footer border-top-muted bg-dark py-3">
    <div class="container">
        <div class="row justify-content-end align-items-center">
            <div class="col-md-6">
                <div class="copy">Powered by bdtask</div>
            </div>
            <div class="col-md-6">
                <ul class="list-unstyled text-right mb-0">
                    <li class="list-inline-item"><a href="privacy.html" class="text-white">Privacy</a></li>
                    <li class="list-inline-item"><a href="terms.html" class="text-white">Terms &amp; Conditions</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>