
{% load static %}
<!-- ================================navbar======================================= -->
<!-- use this as the navbar.html -->
<nav class="navbar navbar-expand-lg navbar-light header-sticky shadow-sm bg-dark">
    <a class="navbar-brand" href="index.html"><img src="{% static 'frontpage/assets/img/boutiquehotel.png' %}" alt width="80px"></a>
    <div class="d-flex order-lg-last">
        <ul class="navbar-right d-flex align-items-center list-unstyled mb-0">

            <li class="nav-item login">
                <a class="nav-link" href="{% url 'signin' %}"><i class="far fa-user-circle d-lg-none"></i><span class="d-none d-lg-block text-light">Sign In</span></a>
            </li>
            <li class="nav-item mx-4">

                {% if request.user.is_authenticated %}
                    <a href="{% url 'core:selected_rooms' %}" class="btn btn-success  px-4 border text-light"><i class="fas fa-bed"></i><span class="room-count">{{ total_selected_items }}</span></a>
                {% else %}
                    <a href="{% url 'core:selected_rooms' %}" class=" btn btn-success  px-4 border text-light" style="font-size:20px;"><i class="fas fa-bed "></i><span class="room-count">{{ total_selected_items }}</span></a>
                {% endif %}

            </li>

            <li class="nav-item nav-btn">

                <div class="">
                    <a href="{% url 'core:all_rooms' %}">
                        <button  class="border-0 d-none d-lg-inline-block nav-link" style="background-color: #fee277; color:#000; font-weight:600;">
                            <i class="far fa-calendar-alt mr-2 text-light"></i><span>Book Now</span>
                        </button>
                    </a>
                </div>

            </li>
        </ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item  active">
                <a class="nav-link text-light " href="{% url 'core:index' %}">Home</a>
                <div class="dropdown-menu animate slideIn" aria-labelledby="navbarDropdown2">
                </div>
            </li>
            <li class="nav-item  ">
                <a class="nav-link text-light " href="{% url 'core:about' %}">About Us</a>
                <div class="dropdown-menu animate slideIn" aria-labelledby="navbarDropdown2">
                </div>
            </li>
            <li class="nav-item  ">
                <a class="nav-link text-light " href="{% url 'core:contact' %}">Contact Us</a>
                <div class="dropdown-menu animate slideIn" aria-labelledby="navbarDropdown2">
                </div>
            </li>
            <li class="nav-item  ">
                <a class="nav-link text-light " href="{% url 'core:gallery' %}">Gallery</a>
                <div class="dropdown-menu animate slideIn" aria-labelledby="navbarDropdown2">
                </div>
            </li>
            <li class="nav-item  ">
                <a class="nav-link text-light " href="index.html">My Profile</a>
                <div class="dropdown-menu animate slideIn" aria-labelledby="navbarDropdown2">
                </div>
            </li>
        </ul>
    </div>
</nav>
<!-- ===============================end navbar============================== -->
