{% extends 'dashboard_base.html' %}
{% load static %}
{% block title %} POS | Received Stock{% endblock %}

{% block content %}
    <main class="container-fluid px-0">
    {% comment %} sidebar here {% endcomment %}
        {% if request.user.is_admin %}
            {% include '../partials/menubars/admin_sidebar.html' %}

        {% elif request.user.is_supervisor %}
            {% include '../partials/menubars/supervisor_sidebar.html' %}

        {% elif request.user.is_account_officer %}
            {% include '../partials/menubars/accounting_sidebar.html' %}

        {% elif request.user.is_pos_officer %}
            {% include '../partials/menubars/pos_sidebar.html' %}

        {% else %}
            {% include '../partials/menubars/frontdesk_sidebar.html' %}

        {% endif %}

    {% comment %} sidebar ends {% endcomment %}

        <div class="content">


   {% comment %} top header starts {% endcomment %}
            {% include '../partials/top_header.html' %}
   {% comment %} top header ends {% endcomment %}



   {% comment %} body content starts {% endcomment %}
            {% include '../partials/_messages.html' %}
            {% if active_attendance  and active_attendance.active == True %}

                <div class="px-xl-5 px-lg-4 px-3 py-3 page-body mt-5">
                    {% include '../partials/_messages.html' %}
                    <div class="row g-3">
                        <div class="col-sm-12">
                            <div class="d-flex align-items-center justify-content-between flex-wrap">
                                <h4 class="fw-bold mb-0">Stock Information</h4>
                                <p class="text-end text-warning">
                                    Make sure to sign-out before going home
                                    <a href="{% url 'hrm:check_out' %}" class="btn btn-danger btn-sm">Sign Out</a>
                                </p>

                            </div>
                        </div>


                        <div class="col-12 col-sm-12, col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <p class="text-warning">Available Stocks Waiting to be received</p>
                                    <table class="table dataTable align-middle table-hover table-body" style="width: 100%;">
                                        <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th>Quantity</th>
                                                <th>Selling price</th>
                                                <th>Received </th>
                                                <th>Action </th>


                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% if  unreceived_stock %}
                                                {% for stock  in  unreceived_stock %}
                                                    <tr>
                                                        <td>{{ stock.product_received }}</td>
                                                        <td>{{ stock.quantity_received }}</td>
                                                        <td>{{ stock.selling_price_per_item }}</td>
                                                        <td>{{ stock.mark_as_received }}</td>

                                                        <td>
                                                            <button type="button" class="btn btn-warning me-2" data-bs-toggle="offcanvas" data-bs-target="#receive-stock" aria-controls="receive-stock"  onclick="ReceiveStock(event, {{ stock.id }})">Receive Product</button>

                                                        </td>

                                                    </tr>
                                                {% endfor %}
                                            {% else %}
                                                <h3 class="text-center"> No Stock record for Today yet. </h3>
                                            {% endif%}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                        <hr>
                        <div class="col-12 col-sm-6, col-lg-6">
                            <div class="card">
                                <div class="card-body">
                                    <p class="text-info">Stocks received by you during this session</p>
                                    <table class="table dataTable align-middle table-hover table-body" style="width: 100%;">
                                        <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th>Quantity</th>
                                                <th>Officer</th>
                                                <th>Date </th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% if daily_stock %}
                                                {% for stock  in daily_stock %}
                                                    <tr>
                                                        <td>{{ stock.product.name }}</td>
                                                        <td>{{ stock.quantity_received }}</td>
                                                        <td>{{ stock.department_user.user }}</td>
                                                        <td>{{ stock.updated_at }}</td>

                                                    </tr>
                                                {% endfor %}
                                            {% else %}
                                                <h3 class="text-center"> No Stock record for Today yet. </h3>
                                            {% endif%}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                        <div class="col-12 col-sm-6, col-lg-6">
                            <div class="card">
                                <div class="card-body">
                                    <p class="text-info">Stocks received by you across all Sessions</p>
                                    <table class="table dataTable align-middle table-hover table-body" style="width: 100%;">
                                        <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th>Quantity</th>
                                                <th>Officer</th>
                                                <th>Date </th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% if all_stock %}
                                                {% for stock  in all_stock %}
                                                    <tr>
                                                        <td>{{ stock.product.name }}</td>
                                                        <td>{{ stock.quantity_received }}</td>
                                                        <td>{{ stock.department_user.user }}</td>
                                                        <td>{{ stock.date_received }}</td>

                                                    </tr>
                                                {% endfor %}
                                            {% else %}
                                                <h3 class="text-center"> No Stock record for Today yet. </h3>
                                            {% endif%}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>




                    </div><!-- Row End -->

                </div>
   {% comment %} body content ends {% endcomment %}




            {% else %}

                <div class="text-center mt-5 ">
                    <p>Hi, <mark> {{ request.user.username }} </mark> You Are Yet to Sign the Attendance Form.<br>Click on the button below to sign  form.</p>
                    <a href="{% url 'hrm:check_in' %}" class="btn btn-danger "> Sign Form </a>

                </div>

            {% endif %}

        </div>
        {% include '../partials/htmx/pos_add_received_stock.html' %}


        <script>
            function ReceiveStock(event, stockId) {
                // Prevent default behavior (if needed)
                event.preventDefault();

                // Get the form element in the offcanvas
                const form = document.querySelector('#receive-stock form');

                // Construct the new action URL by replacing the placeholder 'pk' with the actual booking ID
                const newActionUrl = "{% url 'dashboard:mark_as_received' 0 %}".replace('0', stockId);

                // Set the new action URL on the form
                form.action = newActionUrl;
            }
        </script>

    </main>
{% endblock %}