{% extends 'dashboard_base.html' %}
{% load static %}
{% block title %} Hotel | POS Dashboard {% endblock %}

{% block content %}
  <main class="container-fluid px-0">
    {% comment %} Sidebar here {% endcomment %}
    {% if request.user.is_admin %}
      {% include '../partials/menubars/admin_sidebar.html' %}
    {% elif request.user.is_supervisor %}
      {% include '../partials/menubars/supervisor_sidebar.html' %}
    {% elif request.user.is_account_officer %}
      {% include '../partials/menubars/accounting_sidebar.html' %}
    {% elif request.user.is_pos_officer %}
      {% include '../partials/menubars/pos_sidebar.html' %}
    {% else %}
      {% include '../partials/menubars/frontdesk_sidebar.html' %}
    {% endif %}
    {% comment %} Sidebar ends {% endcomment %}

    <div class="content">
      {% comment %} Top header starts {% endcomment %}
      {% include '../partials/top_header.html' %}
      {% comment %} Top header ends {% endcomment %}

      {% comment %} Body content starts {% endcomment %}
      {% include '../partials/_messages.html' %}

      {% if active_attendance and active_attendance.active %}
        <div class="px-xl-5 px-lg-4 px-3 py-3 page-body mt-5">
          <div>
            {{ request.user.employee_profile.pos_user }}
            <p class="text-end text-warning">
              Make sure to sign-out before going home
              <a href="{% url 'hrm:check_out' %}" class="btn btn-danger btn-sm">Sign Out</a>
            </p>
          </div>


<!-- start: page body area -->

          <div class="row g-3 mb-3">
            <div class="col-md-6 col-lg-3">
              <div class="card">
                <div class="card-header">
                  <h6 class="card-title mb-0">Today's Order</h6>
                </div>
                <div class="card-body">
                  <h2> {{ order_count }}</h2>

                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="card">
                <div class="card-header">
                  <h6 class="card-title mb-0">Today Sales</h6>
                </div>
                <div class="card-body">
                  <h2>&#8358 {{total_paid}}</h2>

                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="card">
                <div class="card-header">
                  <h6 class="card-title mb-0">Total Stock Received</h6>
                </div>
                <div class="card-body">
                  <h2>{{total_quantity_received}}</h2>

                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="card">
                <div class="card-header">
                  <h6 class="card-title mb-0">Stock Balance</h6>
                </div>
                <div class="card-body">
                  <h2>{{total_stock_remaining}}</h2>

                </div>
              </div>
            </div>
          </div>
          <div class="row g-3">
            <!-- Apex Lines Chart -->

              <!-- id="hs-single-line-chart" -->

            <div class="box-holder">
              <div class="box card">
                <h3 class=" text-3xl card-title font-bold px-4 pt-4 ">

                  STOCK
                </h3>
                <div
                  class="w-[100%] flex flex-col items-center justify-center card-header"
                >


                  <table class="table-auto mt-4 border-collapse card-body w-[100%]">
                    <thead>
                      <tr>
                        <th  class="px-4 py-2 border-b-2 text-xl">Product Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Stock Quantity</th>
                        <th>Quantity Received</th>
                        <th>Remaining Stock</th>

                      </tr>
                    </thead>
                    <tbody>
                      {% if products %}
                        {% for product in products %}
                          <tr>
                            <td>{{ product.name }}</td>
                            <td>{{ product.description }}</td>
                            <td>{{ product.price }}</td>
                            <td>{{ product.stock_quantity }}</td>
                            <td>{{ product.quantity_received }}</td>
                            <td>{{ product.remaining_stock }}</td>
                          </tr>
                        {% endfor %}
                      {% else %}
                        <tr>
                          <td colspan="6">No products available during the active schedule.</td>
                        </tr>
                      {% endif %}
                    </tbody>
                  </table>

                       <!-- Include ApexCharts library -->
                  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

                  <script>
                    window.addEventListener("load", () => {
                          // Directly initialize the chart with ApexCharts
                      const options = {
                        chart: {
                          height: 230,
                          type: "line",
                          toolbar: {
                            show: false,
                          },
                          zoom: {
                            enabled: false,
                          },
                        },
                        series: [
                          {
                            name: "Sales",
                            data: [0, 27000, 25000, 27000, 40000],
                          },
                        ],
                        dataLabels: {
                          enabled: false,
                        },
                        stroke: {
                          curve: "smooth", // Use 'smooth' for smooth lines
                          width: 4,
                        },
                        grid: {
                          strokeDashArray: 0,
                          borderColor: "#000",
                          padding: {
                            top: -20,
                            right: 0,
                          },
                        },
                        xaxis: {
                          type: "category",
                          categories: [
                            "25 January 2023",
                            "28 January 2023",
                            "31 January 2023",
                            "1 February 2023",
                            "3 February 2023",
                          ],
                          axisBorder: {
                            show: false,
                          },
                          axisTicks: {
                            show: false,
                          },
                          labels: {
                            offsetY: 5,
                            style: {
                              colors: "#000",
                              fontSize: "13px",
                              fontFamily: "Inter, ui-sans-serif",
                              fontWeight: 400,
                            },
                            formatter: (title) => {
                              let t = title;

                              if (t) {
                                const newT = t.split(" ");
                                t = `${newT[0]} ${newT[1].slice(0, 3)}`;
                              }

                              return t;
                            },
                          },
                        },
                        yaxis: {
                          min: 0,
                          max: 40000,
                          tickAmount: 4,
                          labels: {
                            align: "left",
                            style: {
                              colors: "#000",
                              fontSize: "12px",
                              fontFamily: "Inter, ui-sans-serif",
                              fontWeight: 400,
                            },
                            formatter: (value) =>
                            value >= 1000 ? `${value / 1000}k` : value,
                          },
                        },
                        tooltip: {
                          x: {
                            format: "dd MMM yyyy",
                          },
                        },
                        colors: ["#FFC107"],
                        borderColor: ["#000"],
                      };

                      const chart = new ApexCharts(
                        document.querySelector("#hs-single-line-chart"),
                        options
                      );
                      chart.render();
                    });
                  </script>
                </div>

              </div>



            </div>


            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h6 class="card-title">Stock Report</h6>
                </div>
                <div class="card-body">
                  <div id="reservations" style="height: 280px"></div>
                </div>
              </div>
            </div>

            {% comment %} <div class="col-sm-12">
              <div class="card">
                <div class="card-header">
                  <h6 class="card-title">Top 10 Product By Sales</h6>
                </div>
                <div class="card-body">
                  <table
                    class="table dataTable align-middle table-hover table-body"
                    style="width: 100%"
                  >
                    <thead>
                      <tr>
                        <th>Product Name</th>
                        <th>Price</th>
                        <th>Quanity Sold</th>
                        <th>Amount</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Frank Baker</td>
                        <td>Single</td>
                        <td>0.00</td>
                        <td>&#8358 230</td>
                  <!-- <td>
                    <span class="badge text-bg-warning">Pending</span>
                  </td> -->
                      </tr>
                      <tr>
                        <td>Rya Randall</td>
                        <td>Deluxe</td>
                        <td>0.00</td>
                        <td>&#8358 430</td>
                  <!-- <td>
                    <span class="badge text-bg-warning">Pending</span>
                  </td> -->
                      </tr>
                      <tr>
                        <td>Phil Glover</td>
                        <td>Studio</td>
                        <td>0.00</td>
                        <td>&#8358 4450</td>
                  <!-- <td>
                    <span class="badge text-bg-warning">Pending</span>
                  </td> -->
                      </tr>
                      <tr>
                        <td>Victor Rampling</td>
                        <td>Junior Suite</td>
                        <td>0.00</td>
                        <td>&#8358 530</td>
                  <!-- <td>
                    <span class="badge text-bg-warning">Pending</span>
                  </td> -->
                      </tr>
                      <tr>
                        <td>Sally Graham</td>
                        <td>Queen</td>
                        <td>&#8358 1550</td>
                        <td>0.00</td>
                  <!-- <td>
                    <span class="badge text-bg-warning">Success</span>
                  </td> -->
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div> {% endcomment %}

          </div>



      {% else %}
        <div class="text-center mt-5 ">
          <p>Hi, <mark> {{ request.user.username }} </mark> You Are Yet to Sign the Attendance Form.<br>Click on the button below to sign  form.</p>
          <a href="{% url 'hrm:check_in' %}" class="btn btn-danger "> Sign Form </a>

        </div>
      {% endif %}
    </div>
  </main>
{% endblock %}
